
.intstory_chat_window {
    display: flex;
    flex-direction: column;
}

.intstory_message_border {
    border-radius: 10px;
    margin: 4px;
    background: rgb(77 76 76);
    color: white;
}

.intstory_message_other {
    margin-right: 30px;
}

.intstory_message_You {
    margin-left: 30px;
    background: rgb(35 86 123);
}

.intstory_message_content {
    padding: 6px;
}

.intstory_choices {
    margin: 4px;
    margin-left: 30px;
    color: orange;
    display: flex;
    flex-direction: column;
}

.intstory_btn {
    display: block;
    margin: 1px;
    padding: 8px;
    text-align: left;
    height: auto;
}

.intstory_choice {
    word-break: keep-all;
    white-space: normal;
}

.intstory_checkbox {
    margin: 8px;
}

.intstory_next {
    margin: 1px;
    width: 100%;
}
